<div class="wrapper">
  <div class="sidebar clearfix">
    <div class="inner">
      <div class="header clearfix">
        <h3 class="pull-left">Pagetty Reader</h3>
        <a href="/add" class="btn btn-small btn-success btn-subscribe pull-right"><i class="icon-plus icon-white"></i> Add content</a>
      </div>
      <div class="notification"><a href="#"><i class="icon-refresh icon-white"></i> <span class="count">0</span> <span class="text">new stories</span>. Click here to update.</a></div>
      <nav>
        <ul>
          {{#lists}}
            <li class="list-{{_id}}{{#if active}} active{{/if}}"><a href="/list/{{_id}}" data-list="{{_id}}" style="background-image: url({{#icon domain}}{{/icon}})">{{name}}</a></li>
          {{/lists}}
        </ul>
      </nav>
    </div>
  </div>
  <div class="controls">
    <div class="inner">
      <a class="logout tt" href="/signout" data-placement="left" title="Sign out"><i class="icon-off"></i></a>
      <a class="user tt" href="/account" data-placement="left" title="My account ({{user.mail}})"><i class="icon-user"></i></a>
      <a class="tt" data-placement="left" onmouseover="UE.Popin.preload();" title="Give feeedback" href="#" onclick="UE.Popin.show(); return false;"><i class="icon-question-sign"></i></a>
      <a class="content-width tt" href="#" data-placement="left" title="Change layout"><i class="icon-resize-horizontal"></i></a>
    </div>
  </div>
  <div class="content">{{> list}}</div>
  <!-- CONTROLLER -->
  <script type="text/javascript">
    require(["/scripts/libraries/pagetty.js?b=" + build, "/bootstrap/bootstrap/js/bootstrap.min.js?b=" + build], function(pagetty) {
      pagetty.init({{{list_json}}}, {{{lists_json}}}, "{{{variant}}}", {{{new_count}}});
    });
  </script>
</div>
