<div class="wrapper">
  <div class="sidebar clearfix">
    <div class="inner">
      <div class="header clearfix">
        <h3 class="pull-left">Pagetty Reader</h3>
        <a href="/add" class="btn btn-small btn-success btn-subscribe pull-right"><i class="icon-plus icon-white"></i> Add content</a>
      </div>
      <form class="search" method="get">
        <input type="text" name="q" class="input-block-level" placeholder="Search for articles..." value="{{#eq list.type "search"}}{{variant}}{{/eq}}">
      </form>
      <div class="notification"><a href="#"><i class="icon-refresh icon-white"></i> <span class="count">0</span> <span class="text">new stories</span>. Click here to update.</a></div>
      <nav>
        <ul>
          {{#lists}}
            <li class="list-{{_id}}{{#eq type "directory"}} directory{{/eq}}{{#eq _id ../list._id}} active open{{/eq}}{{#eq _id ../list.directory_id}} open{{/eq}}"><a href="/list/{{_id}}" data-list="{{_id}}" style="background-image: {{#icon}}{{/icon}}">
              {{#eq type "directory"}}<i class="fa-icon-folder-close"></i>{{/eq}}
              {{#eq type "all"}}<i class="fa-icon-reorder"></i>{{/eq}}
              <span>{{#fresh_count ../fresh_counts}}{{/fresh_count}}</span>{{name}}</a>
              {{#if sublists}}
                <ul>
                  {{#sublists}}
                    <li class="list-{{_id}}{{#eq _id ../../../list._id}} active{{/eq}}"><a href="/list/{{_id}}" data-list="{{_id}}" style="background-image: {{#icon}}{{/icon}}">
                      <span>{{#fresh_count ../../../fresh_counts}}{{/fresh_count}}</span>{{name}}</a></li>
                  {{/sublists}}
                </ul>
              {{/if}}
            </li>
          {{/lists}}
        </ul>
      </nav>
    </div>
  </div>
  <div class="controls">
    <div class="inner">
      <a class="logout tt" href="/signout" data-placement="left" title="Sign out"><i class="icon-off"></i></a>
      <a class="user tt" href="/account" data-placement="left" title="My account ({{user.mail}})"><i class="icon-user"></i></a>
      <a class="tt" data-placement="left" onmouseover="UE.Popin.preload();" title="Give feeedback" href="#" onclick="UE.Popin.show(); return false;"><i class="icon-question-sign"></i></a>
      <a class="content-width tt" href="#" data-placement="left" title="Change layout"><i class="icon-resize-horizontal"></i></a>
    </div>
  </div>
  <div class="content">
    {{> list}}
  </div>
  <!-- CONTROLLER -->
  <script type="text/javascript">
    require(["/scripts/libraries/pagetty.js?b=" + build, "/bootstrap/bootstrap/js/bootstrap.min.js?b=" + build], function(pagetty) {
      pagetty.init("{{list._id}}", {{{lists_json}}}, "{{{variant}}}", {{{new_count}}});
    });
  </script>
</div>
