<div class="page">
  <header>
    <div class="container">
      <div class="row">
        <div class="span12">
          <a class="logo" href="/">Pagetty</a>
          <h1>{{list.name}}</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="body container">
    <div class="row">
      <div class="span16">
        <div class="messages"></div>
        <div id="list" class="well">
          <h2>My subscription</h2>
          <div class="form-element">
            <label>Feed URL:</label>
            <strong><a href="{{channel.url}}" target="_blank">{{channel.url_short}}</a></strong>
          </div>
          <div class="form-element">
            <label>Name: *</label>
            <input class="name input-xxlarge form-text" type="text" name="list:name" value="{{list.name}}" />
          </div>
          <a class="btn btn-primary btn-save-list">Save</a>
          <a class="btn btn-danger btn-unsubscribe btn-action">Unsubscribe</a>
          <a class="btn" href="/list/{{list._id}}">View stories</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span16">
        <div id="rules">
          {{#eq channel.type html}}
            {{> html_rule}}
          {{else}}
            {{> rss_rule}}
          {{/eq}}
        </div>
      </div>
    </div>
  </div>
  <!-- CONTROLLER -->
  <script type="text/javascript">
    var list_id = '{{list._id}}';
    var channel_id = '{{channel._id}}';
    require(['/bootstrap/bootstrap/js/bootstrap.min.js?b=' + build, '/scripts/controllers/configure.js?b=' + build]);
  </script>
</div>