<!DOCTYPE html>
<html class="{{app_style}}">
<head>
  <title>Pagetty Reader</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap/css/bootstrap.min.css?b={{build}}">
  <link rel="stylesheet" type="text/css" href="/fontawesome/css/font-awesome.min.css?b={{build}}">
  <link rel="stylesheet" type="text/css" href="/css/style.css?b={{build}}">
  <link rel="stylesheet" type="text/css" href="/css/app.css?b={{build}}">
  <link rel="stylesheet" type="text/css" href="/zocial/css/zocial.css?b={{build}}" />
  <meta name="description" content="Pagetty is a unique news reader that can follow any webpage. No RSS required." />
  <script type="text/javascript">
    var build = '{{build}}';
  </script>
  <script src="/scripts/libraries/modernizr.js?b={{build}}"></script>
  <script data-main="/scripts/main" src="/scripts/libraries/require-jquery.js?b={{build}}"></script>
</head>
<body>
  {{{ body }}}
  <script type='text/javascript'>
    var _ues = {
      host:'pagetty.userecho.com',
      forum:'12911',
      lang:'en',
      tab_show:false,
    };

    (function() {
        var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
        _ue.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
      })();
  </script>
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29116516-1']);
      _gaq.push(['_setDomainName', 'pagetty.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</body>
</html>
