<section class="list clearfix">
  <header>
    <div class="inner">
      {{#if list.link}}
        <h1><a href="{{list.link}}" target="_blank">{{list.name}}</a></h1>
      {{else}}
        <h1>{{list.name}}</h1>
      {{/if}}

      {{#neq list.type "search"}}
        <div class="variants clearfix">
          <div class="dropdown">
            <a class="dropdown-toggle mini" data-toggle="dropdown" href="#"><i class="icon-filter"></i> {{#property variants variant}}{{/property}} <b class="caret"></b> </a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="variant {{list.active_time}}" data-list="{{list._id}}" data-variant="time" href="/list/{{list._id}}/time">Most recent</a></li>
              <li class="divider"></li>
              <li><a class="variant" data-list="{{list._id}}" data-variant="day" href="/list/{{list._id}}/day">Popular today</a></li>
              <li><a class="variant" data-list="{{list._id}}" data-variant="week" href="/list/{{list._id}}/week">Popular last week</a></li>
              <li><a class="variant" data-list="{{list._id}}" data-variant="month" href="/list/{{list._id}}/month">Popular last month</a></li>
              <li><a class="variant" data-list="{{list._id}}" data-variant="year" href="/list/{{list._id}}/year">Popular last year</a></li>
              <li><a class="variant" data-list="{{list._id}}" data-variant="all" href="/list/{{list._id}}/all">Most popular of all time</a></li>
            </ul>
          </div>
          {{#eq list.type "channel"}}
            <div class="dropdown">
              <a class="dropdown-toggle mini" data-toggle="dropdown" href="#"><i class="icon-edit"></i> Actions <b class="caret"></b> </a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu">
                  <a href="#">Move to...</a>
                  <ul class="dropdown-menu">
                    {{#directories}}
                      <li><a href="/list/move/{{../list._id}}/{{_id}}">{{name}}</a></li>
                    {{/directories}}
                    {{#if directories}}
                      <li class="divider"></li>
                    {{/if}}
                    <li><a href="#" class="action-move-new">New folder...</a></li>
                    {{#if list.directory_id}}
                      <li class="divider"></li>
                      <li><a href="/list/move/{{list._id}}/root">Root folder</a></li>
                    {{/if}}
                  </ul>
                </li>
                <li><a class="action-rename" href="#">Rename</a></li>
                <li class="divider"></li>
                <li><a href="/crawl/{{list._id}}/{{list.channel_id}}">Update now</a></li>
                <li><a href="{{list.channel_url}}" target="_blank">View feed source</a></li>
                <li><a href="/configure/{{list._id}}">Configure</a></li>
                <li class="divider"></li>
                <li><a href="/unsubscribe/{{list.channel_id}}">Unsubscribe</a></li>
              </ul>
            </div>
          {{/eq}}
          {{#eq list.type "directory"}}
            <div class="dropdown">
              <a class="dropdown-toggle mini" data-toggle="dropdown" href="#"><i class="icon-edit"></i> Actions <b class="caret"></b> </a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="action-rename" href="#">Rename</a></li>
                <li><a class="action-delete" href="#">Delete</a></li>
              </ul>
            </div>
          {{/eq}}
        </div>
      {{/neq}}
    </div>
  </header>
  <div class="items">
    {{> items}}
  </div>
</section>
<section class="preview">
  <div class="items">
    {{> items}}
  </div>
</section>