<div class="rule clearfix">
  <div class="well">
    <h2>Scraper configuration</h2>
    <div class="form-container-multiple clearfix">
      <div class="form-element">
        <label>Image selector</label>
        <input class="image-selector" type="text" name="image_selector" value="{{rule.image.selector}}" />
      </div>
      <div class="form-element">
        <label>attribute</label>
        <input class="image-attribute input-medium" type="text" name="image_attribute" value="{{rule.image.attribute}}" />
      </div>
      <div class="form-description clearfix">
        Matches an element contains the image associated with the article. Selector is usually "img" and attribute "src".<br/>
        Examples: img.thumbnail, img[src*=jpg], selector: src, data-src
      </div>
    </div>
    <div class="form-container-multiple clearfix">
      <div class="form-element">
        <label>Score selector</label>
        <input class="score-selector" type="text" name="score_selector" value="{{rule.score.selector}}" />
      </div>
      <div class="form-element">
        <label>attribute</label>
        <input class="score-attribute input-medium" type="text" name="score_attribute" value="{{rule.score.attribute}}" />
      </div>
      <div class="form-description clearfix">
        Matches an element that contains the comment count, rating or some other similar property of the article.<br>
        Example: a.commentCount, attribute is usually empty - in that case HTML element text value is used.
      </div>
    </div>
    <div class="form-container-multiple clearfix">
      <div class="form-element">
        <label>Comments selector</label>
        <input class="comments-selector" type="text" name="comments_selector" value="{{rule.comments.selector}}" />
      </div>
      <div class="form-element">
        <label>attribute</label>
        <input class="comments-attribute input-medium" type="text" name="comments_attribute" value="{{rule.comments.attribute}}" />
      </div>
      <div class="form-description clearfix">
        Matches an element that points to the comments section of the article.<br/>
        Example: a.commentCount, attribute is usually "href".
      </div>
    </div>
    <a class="btn btn-primary btn-save-rules" href="#">Save rules</a>
  </div>
</div>